{% extends 'base.html' %}
{% load comment_tags %}
{% load ratings %}
{% load base_tags %}
{% load humanize %}
{# Render all the comments belong to the passed object "obj" #}

{% block title %} | {{ article.title }}
{#اینجا هایی که از article یه چیزی گرفتیم در اضل باید میذاشتیم object ولی تو لیست ویو باید بنویسیم object_list #}
{% endblock %}

{% block main %}

            <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ article.thumbnail.url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{ article.title }}</h1>
                            {% if article.is_special %}
                                <span style="background-color: red;color: white;font-size: 24px">ویژه</span>
                            {% endif %}
                            <time>{{ article.published|naturaltime }}</time>
                        <div>{% ratings object %}</div>
                        <div>بازدید ها: {{ object.hits.count }}</div>
{#                            <span class="subheading">A Blog Theme by Start Bootstrap</span>#}
                        </div>
                    </div>
                </div>
            </div>
        </header>
<!-- Post Content-->
                <aside>
                    {% hot_articles %}
                    {% popular_articles %}
                </aside>
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">

                    <div class="col-md-10 col-lg-8 col-xl-7 text-justify">

                       {% if object.is_special %}
                       {% if user.is_athenticated and user.is_special_user or user == object.author or user.is_superuser %}
                           {{ article.description|safe }}
                           {% else %}
                           {{ article.description|striptags|truncatewords:30 }}
                           <p class="alert alert-warning">این مقاله ویژه است و برای مشاهد باید <a class="alert-link" href="#">اشتراک ویژه </a>خریداری کنید</p>
                           {% endif %}
                           {% else %}
                           {{ article.description|safe }}
                       {% endif %}

                        {% render_comments object request %}
                        {% include_static %}
                        {% include_bootstrap %}


                    </div>
                </div>
            </div>
        </article>
{% endblock %}